.mdocs-new-updated-small { margin: 0px 5px 0px 0px !important; padding: 5px 7px !important;}
.mdocs-close-desc { top: -5px !important; }
.mdocs-divider { border-top: solid 1px #e2e2e2 !important; padding-bottom: 20px;}
.mdocs-download-page, .mdocs-direct-download { font-size: 16px !important; border: dashed 1px #b6bcbc !important; background: #f1f1f1; }


.small { font-size: 12px !important; padding: 5px 5px 1px 5px !important; margin: 0 !important; position: relative !important; top: 0px !important; right: 12px !important;}



.mdocs-container a, #mdocs-navbar a { border: none !important; }
.mdocs-container { font-size: 13px; }
#mdocs-navbar a { font-size: 14px; }
.mdocs-container h2 { margin: 5px 10px; padding:0; font-weight: normal; }



.mdocs-td-social { padding: 0 !important; margin: 0 !important; border: none !important; }
.mdocs-float-right { float: right; }
.mdocs-table-header { font-size: 13px !important; background: #FCFCFC !important; padding: 4px 10px 6px; font-weight: normal !important; text-shadow: 1px 1px #AAA; border-top: solid 1px #dcdcdc !important; color: #636363 !important;}
.mdocs-file-info { white-space: nowrap; padding: 9px 0; border-top: solid 1px #DCDCDC !important; color: #333; width: 25% !important; }
.mdocs-file-info a { text-decoration: none; color: #21759B !important;text-decoration: none !important;}
.mdocs-file-info a:hover { color: #BC360A !important; text-decoration: none !important; border: none !important; }
.mdocs-file-info strong { font-size: 18px; font-weight: normal;  padding: 0 10px; margin: 0; }
/*.mdocs-file-info i { color: #779F00;}*/
.mdocs-file-info div { margin: 3px 20px !important; padding: 0 5px !important; border-left: solid 1px #CCC; }
.mdocs-file-info div p { margin: 0 !important; padding: 0 !important; font-size:  13px; }
.mdocs-desc { vertical-align: top; margin: 15px 0 !important; padding: 0px 0 !important; border-top: solid 1px #D1E5EE; color: #333; width: 75% !important; }
.mdocs-desc div { margin: 10px 0; border-left: solid 1px #ccc; }
.mdocs-desc p { margin: 0 !important; padding: 0  5px !important; overflow: auto; font-size:  13px !important;}
.mdocs-desc ul { margin: 0 !important; padding: 0 !important; overflow: auto; font-size:  13px;}
.mdocs-desc ul br { padding: 0 !important; margin: 0 !important; }
.mdocs-desc li { margin: 0 10px !important; padding: 0 !important; list-style: disc !important; list-style-position: inside !important;}
.mdocs-desc a:link, .mdocs-desc a:visited { color: #21759B !important; text-decoration: none !important; }
.mdocs-desc a:hover { color: #BC360A !important; text-decoration: none !important; border: none !important; }

.mdocs-clear-both { clear: both !important; }
.mdocs-nofiles { font-size: 1.1em !important; font-weight: bold; text-align: center;}
#icon-edit-pages { width: 32px; height: 34px; background-position: -312px -5px; margin: 2px 8px 0 0; float: left; }
.icon32 {  background: url('assets/imgs/icons32-vs.png?ver=20121105/') no-repeat transparent; }
.mdocs-line { border-bottom: solid 1px #E2E2E2; height: 1px; width: 99%; margin: auto; }
.mdocs-login-msg { border: solid 1px #ccc; float: right; font-size: 13px !important; padding: 10px; margin: 5px; font-weight: normal; background:  #f0f0f0; text-align: center; }

/*
.mdocs-list-table, .mdocs-list-table tr, .mdocs-list-table td { width: 100% !important; border: solid 1px #ccc !important; vertical-align: middle; border-collapse: collapse !important; padding: 3px 0 !important; margin: 0 !important; font-size: 13px !important;}
.mdocs-list-table td { border: none !important;  padding: 0 !important; height: 28px !important; padding: 1px 5px !important;}
.mdocs-list-table { margin-top: 10px !important; }

.mdocs-list-table .sub-cats { background: #eef8ff; }
.mdocs-list-table .parent-cat { background: #f1fff0; }
*/
.mdocs-list-table #title { word-break: break-all !important; font-size: 14px !important; }
.mdocs-list-table #downloads { word-break: break-all !important; width: auto !important; text-align: center; }
.mdocs-list-table #version { word-break: break-all !important; width: auto !important; text-align: center; }
.mdocs-list-table #owner { word-break: break-all !important; width: auto !important; text-align: center;}
.mdocs-list-table #update { word-break: break-all !important; width: auto !important; text-align: center;}
.mdocs-list-table #rating { width: 11% !important; text-align: center; }
.mdocs-list-table #download { width: auto !important;  text-align: right; padding: 0 5px 0 0 !important; }
.mdocs-list-table p { padding: 0 !important; margin: 0 !important; }
.mdocs-list-table .float-right { float: right; }
.mdocs-list-table tr { background: #fff; }
.mdocs-list-table .mdocs-parent-cat, .mdocs-list-table .mdocs-current-cat, .mdocs-list-table .mdocs-sub-cats { font-weight: bold;}
.mdocs-list-table .mdocs-current-cat p {  font-size: 1.1em;  }
.mdocs-list-table .mdocs-parent-cat a { font-size: 1.1em; }
.mdocs-list-table .mdocs-sub-cats a { font-size: 1.1em; }
.mdocs-list-table .mdocs-dashboard-header { background: #eaeaea; }
.mdocs-list-table th:first-child { text-align: left; }
.mdocs-list-table th { text-align: center; cursor: pointer;}
.mdocs-list-table th:hover { color: #990000; }

.mdocs-sort { position: relative; float: right; border: solid 1px #e2e2e2 !important; padding: 5px !important; background: #fcfcfc; clear: both !important;}
.mdocs-sort label { font-size: 12px !important; }
.mdocs-sort input[type="submit"] { padding: 2px !important; color: #5e5e5e !important; background: #ebebeb !important; border: solid 1px #d2d2d2 !important; cursor: pointer !important; border-radius: 3px; box-shadow: 0 1px 2px #c0c0c0 !important;}
.mdocs-sort input[type="submit"]:hover { box-shadow: 0 1px 2px #9d9d9d !important;}
.mdocs-sort label { display: inline !important; }
.mdocs-sort form { margin: 0 !important; padding: 0 !important; }
.mdocs-sort  select { height: inherit !important; width: inherit !important; margin: 0 !important;}
.mdocs-sort  input[type="radio"] { margin: 0 0 0 5px !important; }

.mdocs-show-social { cursor: pointer; }

/* BOOTSTRAP STYLES */
.btn-default { background: inherit !important;  }
.btn-default:hover, .btn-default:active, .navbar-toggle:hover, .navbar-toggle:active { background: #ddd !important;  border: 1px solid transparent !important; }
.close:hover, .close:active {  padding: 0 !important; background: transparent !important; border: none !important; }
.mdocs-h2 { padding: 0 !important; margin: 0 10px !important;}
.nav, .navbar-nav { margin: 0 !important; padding: 0 !important; }
.mdocs-title-href img { float: left !important; margin: 2px 8px 2px 2px !important; }
.dropdown-menu { list-style: none !important; }
.dropdown-menu li { margin: 0 !important }
/*.btn-group { padding-top: 5px !important; }*/
.modal-lg { width:  90% !important; }
#adminmenuwrap { z-index: 999 !important; }

/* DASHBOARD STYLE */
#icon-mdocs { background: url('assets/imgs/kon32.png') no-repeat;  } 
.mdocs-uploader-bg { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: #000; z-index: 25; opacity: 0.7;}
.mdocs-uploader { position: absolute; top: 10px; left: 10%; width: 80%; background: #FFF; z-index: 26; border-radius: 5px; padding-bottom: 20px;}
/*.mdocs-uploader-header { background: #000; color: #FFF;  padding: 5px; margin:0; font-weight: normal; font-size: 12px; border: solid 1px #CCC; }
.mdocs-uploader-header .close { float: right; padding:0; margin: 0; cursor: pointer;}*/
.mdocs-uploader-form h2 { font-size: 20px; color: #086FA1;padding: 0; margin: 0 0 5px 0; }
.mdocs-uploader-form h3 { padding: 2px 0; margin: 5px 0 5px 0; color: #086FA1; font-size: 24px;}
.mdocs-uploader-form .mdocs-form-box, .mdocs-batch-container { border-bottom: dashed 1px #E2E2E2; margin: 0px 0 0px 0; padding: 8px; background: #F0F0F0; box-shadow: 0 2px 5px #888;  }
.mdocs-batch-container label { margin-right: 50px !important; }
.mdocs-uploader-form .current-name { display: inline; color: #900; }
/*.mdocs-uploader-form p { font-size: 16px; font-weight: bold; font-style: italic; padding: 0; margin: 5px 0px;}*/
.mdocs-uploader-form input[type="text"] { font-weight: normal; }
.mdocs-uploader-form input[type="radio"] { margin: 5px; }
.mdocs-uploader-form select  { font-weight: normal; }
.mdocs-uploader-form label { font-size: 12px; margin: 0 5px; font-weight: bold; color: #013F71; }
.mdocs-uploader-content { background: #FFF; padding: 0; margin: 15px; }
.mdocs-grey-btn { font-family: sans-serif; font-size: 12px; padding: 5px 10px; text-decoration: none; position: relative; top: -3px; text-shadow: #fff 0 1px 0; }
.mdocs-grey-btn:link, .mdocs-add-new:visited { background: #E9E3E3; border-radius: 5px; color: #21759B;}
.mdocs-grey-btn:hover { color: #D54E21; }
#mdocs-export .updated { width: 150px !important; }
#mdocs-cats input[type="text"] { font-size: 22px !important; width: 100%; }
.mdocs-ds-container table #name { width: 92%; }
.mdocs-ds-container table #order { width: 8%; }
.mdocs-ds-container table #remove { vertical-align: middle; }
.mdocs-ds-container table #file { width: 40%; padding-left: 10px; font-weight: bold;}
.mdocs-ds-container table #version { text-align: center; font-weight: bold;}
.mdocs-ds-container table #date { width: 40%; padding-left: 10px; font-weight: bold;}
.mdocs-ds-container table #download { padding-bottom:  5px; text-align: center; }
.mdocs-ds-container table #current { text-align: center;}
.mdocs-ds-container table #add-cat { vertical-align: middle; }
.mdocs-admin-desc ul { padding: 0 0 0 25px !important; margin: 5px !important; font-size: 12px;  color: #444 !important; list-style: disc !important;}
.mdocs-admin-desc ol { padding: 0 0 0 25px !important; margin: 5px !important; font-size: 12px;  color: #444 !important; }
.mdocs-admin-desc p { padding: 0 !important; margin: 10px 0 !important; }
.mdocs-admin-share { border: solid 1px #E6DB55; background: lightYellow; padding: 5px; color: #333; }
.mdocs-edit-file { background: #F0F0F0; border-top: solid 1px #E2E2E2; overflow: auto; padding: 10px; margin: 0 !important; }
.mdocs-edit-file span { float: left !important; padding: 0 !important; margin: 0 0 0 5px !important; }
.mdocs-edit-file .submitdelete { color: #BC0B0B !important; }
.mdocs-edit-file .submitdelete:hover { color: #f00000; }
.mdocs-settings-table td { vertical-align: top !important; text-align: left !important;}
.mdocs-setting-form .width-30 { width: 30px; }
.mdocs-filesystem-cleanup { border: solid 1px #E6DB55; background: #FFFFE0; overflow: auto; padding: 10px;}
.mdocs-filesystem-cleanup .cleanup-files { float: left; padding-right: 20px; }
.mdocs-filesystem-cleanup .cleanup-data { float: left; }
#the-list { text-shadow: none !important; }
.mdocs-mime-table { min-width: 100%; }
.mdocs-mime-table, .mdocs-mime-table th, .mdocs-mime-table td { background: #fff; border: solid 1px; padding: 3px; margin: 0; border-collapse: collapse; text-align: center; max-width: }
/* RATING STYLE */
.mdocs-ratings-stars { text-align: center; }
.mdocs-ratings-stars i { cursor: pointer; }
.mdocs-rating-container-info-large { float: left; padding-top: 5px; }
.mdocs-rating-container-small { cursor: pointer; clear: both; float: right; padding: 0 10px 10px 10px; }
.mdocs-rating-container-small div:first-child { font-size: 11px; margin: auto; text-align: center;}
.mdocs-rating-container-small div:last-child { font-size: 20px; margin: auto; text-align: center; color: #9d9d9d;}
.mdocs-rating-container-small span { font-size: 11px; }
.mdocs-big-star { text-shadow: 1px 2px 1px #474747; padding: 0 1px;}
/* WIDGET STYLE */
.mdocs-widget-container { padding: 0 !important; margin: 5px 0 !important; }
.mdocs-widget-container h1, .mdocs-widget-container table th, .mdocs-widget-container table td { padding: 5px 5px !important; margin: 0 !important; word-break: break-all !important;}
.mdocs-widget-container h1 { color: #086FA1 !important; font-size: 1.3em !important;  }
.mdocs-widget-container table { width: 100% !important; max-width: 100% !important; font-size: 0.85em !important; border: solid 1px #ededed !important; }
.mdocs-widget-container table th { background: #e7e7e7 !important; border-bottom: dotted 1px #bcbcbc !important;}
.mdocs-widget-container table td:first-child, .mdocs-widget-container table th:first-child { padding: 5px 2px !important; word-break: normal !important; }
.mdocs-widget-container table td:last-child, .mdocs-widget-container table th:last-child { text-align: center !important; min-width: 60px !important; }
.mdocs-widget-container .mdocs-even { background: #f4f4f4 !important;  }
.mdocs-widget-container a { text-decoration: none !important; color: #21759b !important; word-break: break-all !important;}
.mdocs-widget-container a:hover { color: #BC360A !important; }



/* ADMIN MENU STYLES 
.mdocs-setting-form label { vertical-align: top; font-size: 0.8em; }
.mdocs-setting-form h4 { color: #0074a2; padding: 0; margin: 8px 0; border-bottom: dashed 1px #dbdbdb;}
*/
/* BOOTSTRAP CUSTOMIZATION 
@media (max-width: 100px) {
    .navbar-header { float: none; }
    .navbar-toggle { display: block; }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-collapse.collapse { display: none!important; }
    .navbar-nav { float: none !important; margin: 7.5px -15px; }
    .navbar-nav>li { float: none; }
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
    .navbar-collapse.collapse.in { display: block!important; }
    .collapsing { overflow: hidden!important; }
}
*/




